body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #4FBDBA;
    margin-bottom: 12px;
}

button {
    color: white;
    background: #4FBDBA;
    padding: 15px 30px;
    border: 2px solid #4FBDBA;
    font-weight: bold;
}

#delete-btn {
    color: #4FBDBA;
    background: white;
    border: 2px solid #4FBDBA;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #35858B;
}